In [1]:
import pandas as pd
import regex as re
import matplotlib.pyplot as plt

In [4]:
data_india =  pd.read_csv("/Users/hi/Desktop/data_science_wbs_school/final_project/twitter_analysis_new/scraped_tweets_csv/data_india.csv")
data_eu = pd.read_csv("/Users/hi/Desktop/data_science_wbs_school/final_project/twitter_analysis_new/scraped_tweets_csv/df_europe_twitter.csv")
 
data_africa = pd.read_csv("/Users/hi/Desktop/data_science_wbs_school/final_project/twitter_analysis_new//scraped_tweets_csv/data_africa.csv")
data_usa = pd.read_csv("/Users/hi/Desktop/data_science_wbs_school/final_project/twitter_analysis_new//scraped_tweets_csv/data_usa.csv")

C:\Users\hi\AppData\Local\Temp\ipykernel_6416\3620999038.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data_eu = pd.read_csv("/Users/hi/Desktop/data_science_wbs_school/final_project/twitter_analysis_new/scraped_tweets_csv/df_europe_twitter.csv")

In [676]:
#data_india['date']

In [686]:
data_usa['place'][75714]

"{'fullName': 'Willow Park, TX', 'name': 'Willow Park', 'type': 'city', 'country': 'United States', 'countryCode': 'US'}"

In [696]:
data_usa['countrycode'] = data_usa['place'].str.extract('(\'countryCode\': \'[A-Za-z][A-Za-z])')
data_usa['countrycode'] = data_usa['countrycode'].str.replace('(\'countryCode\': \')','',regex = True)

In [697]:
# extracting city name for usa
data_usa['city'] = data_usa['place'].str.split(',').str[2]
data_usa['city'] = data_usa['city'].str.replace('(\'name\': \')','',regex = True)
data_usa['city'] = data_usa['city'].str.replace('(\')','',regex = True)

In [698]:
data_usa['city'].value_counts()

 Los Angeles               4486
 Texas                     1771
 Houston                   1744
 California                1711
 San Francisco             1652
                           ...
 New Prague                   1
 Lipton No. 217               1
 Highlands-Baywood Park       1
 Elbow                        1
 North Coryell                1
Name: city, Length: 4027, dtype: int64

In [713]:
# extracting city name for india
data_india['city'] = data_india['place'].str.split(',').str[2]
data_india['city'] = data_india['city'].str.replace('(\'name\': \')','',regex = True)
data_india['city'] = data_india['city'].str.replace('(\')','',regex = True)

In [714]:
data_india['city'].value_counts()

 type: country    1404
 Mumbai           1339
 New Delhi        1299
 Doha              521
 Punjab            435
                  ...
 Mai Khet            1
 Barkakana           1
 Kamothe             1
 Buldhana            1
 Bangko              1
Name: city, Length: 1504, dtype: int64

In [718]:
# extracting city name for africa
data_africa['city'] = data_africa['place'].str.split(',').str[2]
data_africa['city'] = data_africa['city'].str.replace('(\'name\': \')','',regex = True)
data_africa['city'] = data_africa['city'].str.replace('(\')','',regex = True)

In [710]:
data_africa['city'].value_counts()

 Nigeria                                                     634
 Kenya                                                       337
 Ghana                                                       171
 Uganda                                                      131
 Israel                                                       57
 Egypt                                                        52
 Tanzania                                                     46
 Kingdom of Saudi Arabia                                      38
 Hashemite Kingdom of Jordan                                  28
 Tunisia                                                      25
 Spain                                                        19
 Ethiopia                                                     14
 Rwanda                                                       14
 Senegal                                                       9
 Cameroon                                                      9
 Democratic Republic of Congo                                  9
 Gambia                                                        8
 Gabon                                                         7
 Sierra Leone                                                  6
 Ivory Coast                                                   5
 Libya                                                         3
 Sudan                                                         3
 Guinea                                                        3
 Kakuma Town                                                   2
 Central Equatoria                                             2
 Kiribati                                                      2
 Espa√±a                                                        2
 Portugal                                                      2
 Niger                                                         2
 Mauritania                                                    1
 Yemen                                                         1
 Republic of South Sudan                                       1
 Chad                                                          1
 Royaume du Maroc                                              1
 Zambia                                                        1
 Syria                                                         1
 Djibouti                                                      1
 Tatu City                                                     1
 Michael Okpara University Of Agriculture                      1
 Benin                                                         1
 Bonny River Nigeria                                           1
 United Nations Environment Programme (UNEP) Headquarters      1
 Morocco                                                       1
 Lodwar"                                                       1
 The Ghetto                                                    1
 Diani                                                         1
 Gulu University                                               1
 Surulere                                                      1
 Kasana Luweero Diocese                                        1
 Swiss Towers                                                  1
 Monrovia Port                                                 1
 Latino Cafe                                                   1
 Paradise Inn Windsor Palace Hotel                             1
 Liberia                                                       1
 Mount Kenya University (MKU)                                  1
 Rubirizi District Head quarters                               1
 Gulu District Local Government                                1
Name: city, dtype: int64

In [717]:
# extracting city name for africa
data_eu['city'] = data_eu['place'].str.split(',').str[2]
data_eu['city'] = data_eu['city'].str.replace('(\'name\': \')','',regex = True)
data_eu['city'] = data_eu['city'].str.replace('(\')','',regex = True)
data_eu['city'].value_counts()

 type: country             1502
 London                     858
 Glasgow                    673
 Paris                      659
 Dublin City                625
                           ...
 San Casciano dei Bagni       1
 La Turbie                    1
 Pantin                       1
 Cingoli                      1
 Zeeland                      1
Name: city, Length: 5838, dtype: int64

# No. of  tweets by countries

In [726]:
# extracting for usa
data_usa['country'] = data_usa['place'].str.split(',').str[1]
data_usa['country'] = data_usa['country'].str.replace('(\'name\': \')','',regex = True)
data_usa['country'] = data_usa['country'].str.replace('(\')','',regex = True)
data_usa['country'].value_counts()

 CA                                  23462
 TX                                  11694
 USA                                  9429
 WA                                   3833
 AZ                                   3546
                                     ...
 Anaheim Marriott                        1
 Hilton - Salon B                        1
 Portland City Hall                      1
 MetroLink - North Hanley Station        1
 MA                                      1
Name: country, Length: 470, dtype: int64

In [727]:
# extracting for india
data_india['country'] = data_india['place'].str.split(',').str[1]
data_india['country'] = data_india['country'].str.replace('(\'name\': \')','',regex = True)
data_india['country'] = data_india['country'].str.replace('(\')','',regex = True)
data_india['country'].value_counts()

 India                                         10317
 Pakistan                                       1113
 Thailand                                        614
 Qatar                                           596
 Singapore                                       591
                                               ...
 Hayatabad                                         1
 Ayub Medical Complex                              1
 –ò–ª–µ-–ê–ª–∞—Ç–∞—É—Å–∫–∏–π –Ω–∞—Ü–∏–æ–Ω–∞–ª—å–Ω—ã–π –ø–∞—Ä–∫                  1
 GDDI Hospital                                     1
 IPM Professional Services (Central Region)        1
Name: country, Length: 387, dtype: int64

In [728]:
# extracting for africa
data_africa['country'] = data_africa['place'].str.split(',').str[1]
data_africa['country'] = data_africa['country'].str.replace('(\'name\': \')','',regex = True)
data_africa['country'] = data_africa['country'].str.replace('(\')','',regex = True)
data_africa['country'].value_counts()

 Nigeria                                                     634
 Kenya                                                       337
 Ghana                                                       171
 Uganda                                                      131
 Israel                                                       57
 Egypt                                                        52
 Tanzania                                                     46
 Kingdom of Saudi Arabia                                      38
 Hashemite Kingdom of Jordan                                  28
 Tunisia                                                      25
 Spain                                                        19
 Ethiopia                                                     14
 Rwanda                                                       14
 Senegal                                                       9
 Cameroon                                                      9
 Democratic Republic of Congo                                  9
 Gambia                                                        8
 Gabon                                                         7
 Sierra Leone                                                  6
 Ivory Coast                                                   5
 Libya                                                         3
 Sudan                                                         3
 Guinea                                                        3
 Kakuma Town                                                   2
 Central Equatoria                                             2
 Kiribati                                                      2
 Espa√±a                                                        2
 Portugal                                                      2
 Niger                                                         2
 Mauritania                                                    1
 Yemen                                                         1
 Republic of South Sudan                                       1
 Chad                                                          1
 Royaume du Maroc                                              1
 Zambia                                                        1
 Syria                                                         1
 Djibouti                                                      1
 Tatu City                                                     1
 Michael Okpara University Of Agriculture                      1
 Benin                                                         1
 Bonny River Nigeria                                           1
 United Nations Environment Programme (UNEP) Headquarters      1
 Morocco                                                       1
 Lodwar"                                                       1
 The Ghetto                                                    1
 Diani                                                         1
 Gulu University                                               1
 Surulere                                                      1
 Kasana Luweero Diocese                                        1
 Swiss Towers                                                  1
 Monrovia Port                                                 1
 Latino Cafe                                                   1
 Paradise Inn Windsor Palace Hotel                             1
 Liberia                                                       1
 Mount Kenya University (MKU)                                  1
 Rubirizi District Head quarters                               1
 Gulu District Local Government                                1
Name: country, dtype: int64

In [729]:
# extracting for eu
data_eu['country'] = data_eu['place'].str.split(',').str[1]
data_eu['country'] = data_eu['country'].str.replace('(\'name\': \')','',regex = True)
data_eu['country'] = data_eu['country'].str.replace('(\')','',regex = True)
data_eu['country'].value_counts()

 England                           18360
 London                             4473
 Scotland                           2480
 Ireland                            2390
 France                             1896
                                   ...
 Port de Saint-Jean-Cap-Ferrat         1
 Jezero Jasna                          1
 RAI Radio Televisione Italiana        1
 Gjakov√´                               1
 Laois                                 1
Name: country, Length: 522, dtype: int64

In [468]:
# select only english tweets
def english_tweets(data):
    english_df = data.query("lang == 'en'")
    return(english_df)

In [469]:
data_india = english_tweets(data_india)
data_eu = english_tweets(data_eu)
data_africa = english_tweets(data_africa)
data_usa = english_tweets(data_usa)

In [470]:
#data_usa

In [471]:
#data_india.info()

In [472]:
data_india.columns.values.tolist()

['url',
 'date',
 'content',
 'renderedContent',
 'id',
 'user',
 'replyCount',
 'retweetCount',
 'likeCount',
 'quoteCount',
 'conversationId',
 'lang',
 'source',
 'sourceUrl',
 'sourceLabel',
 'outlinks',
 'tcooutlinks',
 'media',
 'retweetedTweet',
 'quotedTweet',
 'inReplyToTweetId',
 'inReplyToUser',
 'mentionedUsers',
 'coordinates',
 'place',
 'hashtags',
 'cashtags']

In [473]:
# removing coloumns from the dataset
def remove_coloumns(data):
    new_df = data.drop(['url',
 'renderedContent',
 'id',
 'user',
 'replyCount',
 'retweetCount',
 'likeCount',
 'quoteCount',
 'conversationId',
 'lang',
 'source',
 'sourceUrl',
 'sourceLabel',
 'outlinks',
 'tcooutlinks',
 'media',
 'retweetedTweet',
 'quotedTweet',
 'inReplyToTweetId',
 'inReplyToUser',
 'mentionedUsers',
 'coordinates',
 'hashtags',
 'cashtags'], axis = 1)
    return(new_df)

In [474]:
data_india = remove_coloumns(data_india)
data_eu = remove_coloumns(data_eu)
data_africa = remove_coloumns(data_africa)
data_usa = remove_coloumns(data_usa)

In [414]:
#data_eu

In [416]:
# changing data type of date and saving only the date
data_india['date'] = pd.to_datetime(data_india['date']).dt.date
data_eu['date'] = pd.to_datetime(data_eu['date']).dt.date
data_africa['date'] = pd.to_datetime(data_africa['date']).dt.date
data_usa['date'] = pd.to_datetime(data_usa['date']).dt.date

In [417]:
data_india['date'] = pd.to_datetime(data_india['date'])
data_eu['date'] = pd.to_datetime(data_eu['date'])
data_africa['date'] = pd.to_datetime(data_africa['date'])
data_usa['date'] = pd.to_datetime(data_usa['date'])

In [418]:
data_india['date']

0       2022-08-31
1       2022-08-31
2       2022-08-31
3       2022-08-31
4       2022-08-31
           ...
20323   2010-10-28
20325   2010-10-21
20326   2010-10-19
20328   2010-10-08
20329   2010-09-19
Name: date, Length: 17649, dtype: datetime64[ns]

In [420]:
data_india['place'] = data_india['place'].fillna("country")
data_africa['place'] = data_india['place'].fillna("country")
data_eu['place'] = data_india['place'].fillna("country")
data_usa['place'] = data_india['place'].fillna("country")

In [421]:
# for india
data_india['place'] = data_india['place'].str.contains("country", na=False)
data_india['place'] = data_india['place'].map({True: 'India', False: 'no'})
data_india['place'] = data_india['place'].str.replace('True', 'India')

In [422]:
# for eu
data_eu['place'] = data_eu['place'].str.contains("country", na=False)
data_eu['place'] = data_eu['place'].map({True: 'eu', False: 'eu'})
data_eu['place'] = data_eu['place'].str.replace('True', 'eu')

In [423]:
# for africa
data_africa['place'] = data_africa['place'].str.contains("country", na=False)
data_africa['place'] = data_africa['place'].map({True: 'africa', False: 'africa'})
data_africa['place'] = data_africa['place'].str.replace('True', 'africa')

In [424]:
# for usa
data_usa['place'] = data_usa['place'].str.contains("country", na=False)
data_usa['place'] = data_usa['place'].map({True: 'usa', False: 'usa'})
data_usa['place'] = data_usa['place'].str.replace('True', 'usa')

In [425]:
data_usa

            date                                            content place
0     2022-08-31  ‚ÄúGlobal warming means more-severe floods and h...   usa
1     2022-08-31  @Elohim_Gadol So much for global warming. &lt;...   usa
2     2022-08-31  ‚ÄúMarshes, ponds and meadows soak up water when...   usa
3     2022-08-31  ‚ÄúAll that parkland helps protect millions of A...   usa
4     2022-08-31  "It's not global warming, it's global cooling....   usa
...          ...                                                ...   ...
85714 2010-03-17  More proof Global Warming is a lie |||  http:/...   usa
85715 2010-03-17  More proof Global Warming is a lie |||  http:/...   usa
85716 2010-03-15  I am helping my friend, who doez not have very...   usa
85717 2010-03-13  Panic mode - must move. Nowhere to go. Also my...   usa
85718 2010-03-12  Latest Gallup poll: 48% Americans now say repo...   usa

[84080 rows x 3 columns]

In [429]:
data_eu['place'].value_counts()

eu    45426
Name: place, dtype: int64

In [438]:
# converting dates india
data_india['date'] = pd.to_datetime(data_india['date'],format='%Y%m%d')
data_india['year'] = pd.DatetimeIndex(data_india['date']).year
data_india['month'] = pd.DatetimeIndex(data_india['date']).month_name()

In [439]:
# converting dates eu
data_eu['date'] = pd.to_datetime(data_eu['date'],format='%Y%m%d')
data_eu['year'] = pd.DatetimeIndex(data_eu['date']).year
data_eu['month'] = pd.DatetimeIndex(data_eu['date']).month_name()

In [440]:
# converting dates africa
data_africa['date'] = pd.to_datetime(data_africa['date'],format='%Y%m%d')
data_africa['year'] = pd.DatetimeIndex(data_africa['date']).year
data_africa['month'] = pd.DatetimeIndex(data_africa['date']).month_name()

In [441]:
# converting dates usa
data_usa['date'] = pd.to_datetime(data_usa['date'],format='%Y%m%d')
data_usa['year'] = pd.DatetimeIndex(data_usa['date']).year
data_usa['month'] = pd.DatetimeIndex(data_usa['date']).month_name()
#df['month_full'] = df['date'].dt.month_name()

In [442]:
data_usa

,date,content,place,year,month
0,2022-08-31,‚ÄúGlobal warming means more-severe floods and h...,usa,2022,August
1,2022-08-31,@Elohim_Gadol So much for global warming. &lt;...,usa,2022,August
2,2022-08-31,"‚ÄúMarshes, ponds and meadows soak up water when...",usa,2022,August
3,2022-08-31,‚ÄúAll that parkland helps protect millions of A...,usa,2022,August
4,2022-08-31,"""It's not global warming, it's global cooling....",usa,2022,August
...,...,...,...,...,...
85714,2010-03-17,More proof Global Warming is a lie ||| http:/...,usa,2010,March
85715,2010-03-17,More proof Global Warming is a lie ||| http:/...,usa,2010,March
85716,2010-03-15,"I am helping my friend, who doez not have very...",usa,2010,March
85717,2010-03-13,Panic mode - must move. Nowhere to go. Also my...,usa,2010,March
85718,2010-03-12,Latest Gallup poll: 48% Americans now say repo...,usa,2010,March

In [445]:
#data_india = data_india.drop(["date"], axis=1)
#data_eu = data_eu.drop(["date"], axis=1)
#data_africa = data_africa.drop(["date"], axis=1)
#data_usa = data_usa.drop(["date"], axis=1)

In [446]:
data_usa

                                                 content place  year   month
0      ‚ÄúGlobal warming means more-severe floods and h...   usa  2022  August
1      @Elohim_Gadol So much for global warming. &lt;...   usa  2022  August
2      ‚ÄúMarshes, ponds and meadows soak up water when...   usa  2022  August
3      ‚ÄúAll that parkland helps protect millions of A...   usa  2022  August
4      "It's not global warming, it's global cooling....   usa  2022  August
...                                                  ...   ...   ...     ...
85714  More proof Global Warming is a lie |||  http:/...   usa  2010   March
85715  More proof Global Warming is a lie |||  http:/...   usa  2010   March
85716  I am helping my friend, who doez not have very...   usa  2010   March
85717  Panic mode - must move. Nowhere to go. Also my...   usa  2010   March
85718  Latest Gallup poll: 48% Americans now say repo...   usa  2010   March

[84080 rows x 4 columns]

In [450]:
data_india.to_csv("data_india_cleaned.csv", index = False)
data_eu.to_csv("data_eu_cleaned.csv", index = False)
data_africa.to_csv("data_africa_cleaned.csv", index = False)
data_usa.to_csv("data_usa_cleaned.csv", index = False)

In [462]:
data_usa["content"][30]

"We have finally warmed up from the Little Ice Age back to the prosperous times of Jesus and Plato. Why the panic? Why not use our #Creator's endowment of geologically stored #solar #energy? #LittleIceAge #ClimateChange #GlobalWarming https://t.co/cv1ji1uQAm https://t.co/6RfeSsb7n8"