In [403]:
import pandas as pd
import nltk
import regex as re
import matplotlib.pyplot as plt
import numpy as np
import re
import json

In [404]:
data_india =  pd.read_csv("/Users/hi/Desktop/data_science_wbs_school/final_project/twitter_analysis_new/data_india.csv")
data_eu = pd.read_csv("/Users/hi/Desktop/data_science_wbs_school/final_project/twitter_analysis_new/df_europe_twitter.csv")
 
data_africa = pd.read_csv("/Users/hi/Desktop/data_science_wbs_school/final_project/twitter_analysis_new/data_africa.csv")
data_usa = pd.read_csv("/Users/hi/Desktop/data_science_wbs_school/final_project/twitter_analysis_new/data_usa.csv")

C:\Users\hi\AppData\Local\Temp\ipykernel_15960\3072790113.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data_eu = pd.read_csv("/Users/hi/Desktop/data_science_wbs_school/final_project/twitter_analysis_new/df_europe_twitter.csv")

In [405]:
#data_india['date']

In [406]:
#data_eu

In [407]:
# select only english tweets
def english_tweets(data):
    english_df = data.query("lang == 'en'")
    return(english_df)

In [408]:
data_india = english_tweets(data_india)
data_eu = english_tweets(data_eu)
data_africa = english_tweets(data_africa)
data_usa = english_tweets(data_usa)

In [409]:
#data_usa

In [410]:
#data_india.info()

In [411]:
data_india.columns.values.tolist()

['url',
 'date',
 'content',
 'renderedContent',
 'id',
 'user',
 'replyCount',
 'retweetCount',
 'likeCount',
 'quoteCount',
 'conversationId',
 'lang',
 'source',
 'sourceUrl',
 'sourceLabel',
 'outlinks',
 'tcooutlinks',
 'media',
 'retweetedTweet',
 'quotedTweet',
 'inReplyToTweetId',
 'inReplyToUser',
 'mentionedUsers',
 'coordinates',
 'place',
 'hashtags',
 'cashtags']

In [412]:
# removing coloumns from the dataset
def remove_coloumns(data):
    new_df = data.drop(['url',
 'renderedContent',
 'id',
 'user',
 'replyCount',
 'retweetCount',
 'likeCount',
 'quoteCount',
 'conversationId',
 'lang',
 'source',
 'sourceUrl',
 'sourceLabel',
 'outlinks',
 'tcooutlinks',
 'media',
 'retweetedTweet',
 'quotedTweet',
 'inReplyToTweetId',
 'inReplyToUser',
 'mentionedUsers',
 'coordinates',
 'hashtags',
 'cashtags'], axis = 1)
    return(new_df)

In [413]:
data_india = remove_coloumns(data_india)
data_eu = remove_coloumns(data_eu)
data_africa = remove_coloumns(data_africa)
data_usa = remove_coloumns(data_usa)

In [414]:
#data_eu

In [416]:
# changing data type of date and saving only the date
data_india['date'] = pd.to_datetime(data_india['date']).dt.date
data_eu['date'] = pd.to_datetime(data_eu['date']).dt.date
data_africa['date'] = pd.to_datetime(data_africa['date']).dt.date
data_usa['date'] = pd.to_datetime(data_usa['date']).dt.date

In [417]:
data_india['date'] = pd.to_datetime(data_india['date'])
data_eu['date'] = pd.to_datetime(data_eu['date'])
data_africa['date'] = pd.to_datetime(data_africa['date'])
data_usa['date'] = pd.to_datetime(data_usa['date'])

In [418]:
data_india['date']

0       2022-08-31
1       2022-08-31
2       2022-08-31
3       2022-08-31
4       2022-08-31
           ...
20323   2010-10-28
20325   2010-10-21
20326   2010-10-19
20328   2010-10-08
20329   2010-09-19
Name: date, Length: 17649, dtype: datetime64[ns]

In [420]:
data_india['place'] = data_india['place'].fillna("country")
data_africa['place'] = data_india['place'].fillna("country")
data_eu['place'] = data_india['place'].fillna("country")
data_usa['place'] = data_india['place'].fillna("country")

In [421]:
# for india
data_india['place'] = data_india['place'].str.contains("country", na=False)
data_india['place'] = data_india['place'].map({True: 'India', False: 'no'})
data_india['place'] = data_india['place'].str.replace('True', 'India')

In [422]:
# for eu
data_eu['place'] = data_eu['place'].str.contains("country", na=False)
data_eu['place'] = data_eu['place'].map({True: 'eu', False: 'eu'})
data_eu['place'] = data_eu['place'].str.replace('True', 'eu')

In [423]:
# for africa
data_africa['place'] = data_africa['place'].str.contains("country", na=False)
data_africa['place'] = data_africa['place'].map({True: 'africa', False: 'africa'})
data_africa['place'] = data_africa['place'].str.replace('True', 'africa')

In [424]:
# for usa
data_usa['place'] = data_usa['place'].str.contains("country", na=False)
data_usa['place'] = data_usa['place'].map({True: 'usa', False: 'usa'})
data_usa['place'] = data_usa['place'].str.replace('True', 'usa')

In [425]:
data_usa

            date                                            content place
0     2022-08-31  â€œGlobal warming means more-severe floods and h...   usa
1     2022-08-31  @Elohim_Gadol So much for global warming. &lt;...   usa
2     2022-08-31  â€œMarshes, ponds and meadows soak up water when...   usa
3     2022-08-31  â€œAll that parkland helps protect millions of A...   usa
4     2022-08-31  "It's not global warming, it's global cooling....   usa
...          ...                                                ...   ...
85714 2010-03-17  More proof Global Warming is a lie |||  http:/...   usa
85715 2010-03-17  More proof Global Warming is a lie |||  http:/...   usa
85716 2010-03-15  I am helping my friend, who doez not have very...   usa
85717 2010-03-13  Panic mode - must move. Nowhere to go. Also my...   usa
85718 2010-03-12  Latest Gallup poll: 48% Americans now say repo...   usa

[84080 rows x 3 columns]

In [429]:
data_eu['place'].value_counts()

eu    45426
Name: place, dtype: int64

In [438]:
# converting dates india
data_india['date'] = pd.to_datetime(data_india['date'],format='%Y%m%d')
data_india['year'] = pd.DatetimeIndex(data_india['date']).year
data_india['month'] = pd.DatetimeIndex(data_india['date']).month_name()

In [439]:
# converting dates eu
data_eu['date'] = pd.to_datetime(data_eu['date'],format='%Y%m%d')
data_eu['year'] = pd.DatetimeIndex(data_eu['date']).year
data_eu['month'] = pd.DatetimeIndex(data_eu['date']).month_name()

In [440]:
# converting dates africa
data_africa['date'] = pd.to_datetime(data_africa['date'],format='%Y%m%d')
data_africa['year'] = pd.DatetimeIndex(data_africa['date']).year
data_africa['month'] = pd.DatetimeIndex(data_africa['date']).month_name()

In [441]:
# converting dates usa
data_usa['date'] = pd.to_datetime(data_usa['date'],format='%Y%m%d')
data_usa['year'] = pd.DatetimeIndex(data_usa['date']).year
data_usa['month'] = pd.DatetimeIndex(data_usa['date']).month_name()
#df['month_full'] = df['date'].dt.month_name()

In [442]:
data_usa

,date,content,place,year,month
0,2022-08-31,â€œGlobal warming means more-severe floods and h...,usa,2022,August
1,2022-08-31,@Elohim_Gadol So much for global warming. &lt;...,usa,2022,August
2,2022-08-31,"â€œMarshes, ponds and meadows soak up water when...",usa,2022,August
3,2022-08-31,â€œAll that parkland helps protect millions of A...,usa,2022,August
4,2022-08-31,"""It's not global warming, it's global cooling....",usa,2022,August
...,...,...,...,...,...
85714,2010-03-17,More proof Global Warming is a lie ||| http:/...,usa,2010,March
85715,2010-03-17,More proof Global Warming is a lie ||| http:/...,usa,2010,March
85716,2010-03-15,"I am helping my friend, who doez not have very...",usa,2010,March
85717,2010-03-13,Panic mode - must move. Nowhere to go. Also my...,usa,2010,March
85718,2010-03-12,Latest Gallup poll: 48% Americans now say repo...,usa,2010,March

In [445]:
#data_india = data_india.drop(["date"], axis=1)
#data_eu = data_eu.drop(["date"], axis=1)
#data_africa = data_africa.drop(["date"], axis=1)
#data_usa = data_usa.drop(["date"], axis=1)

In [446]:
data_usa

                                                 content place  year   month
0      â€œGlobal warming means more-severe floods and h...   usa  2022  August
1      @Elohim_Gadol So much for global warming. &lt;...   usa  2022  August
2      â€œMarshes, ponds and meadows soak up water when...   usa  2022  August
3      â€œAll that parkland helps protect millions of A...   usa  2022  August
4      "It's not global warming, it's global cooling....   usa  2022  August
...                                                  ...   ...   ...     ...
85714  More proof Global Warming is a lie |||  http:/...   usa  2010   March
85715  More proof Global Warming is a lie |||  http:/...   usa  2010   March
85716  I am helping my friend, who doez not have very...   usa  2010   March
85717  Panic mode - must move. Nowhere to go. Also my...   usa  2010   March
85718  Latest Gallup poll: 48% Americans now say repo...   usa  2010   March

[84080 rows x 4 columns]

In [450]:
data_india.to_csv("data_india_cleaned.csv", index = False)
data_eu.to_csv("data_eu_cleaned.csv", index = False)
data_africa.to_csv("data_africa_cleaned.csv", index = False)
data_usa.to_csv("data_usa_cleaned.csv", index = False)